/* *{
    margin: 0px;
    padding: 0px;
    border-radius:border-box;
} */
.header{
    
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-right: auto;
    
}
.header_logo{
    width: 60px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
    border-color: black;
    border-radius: 20px;
    
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    
}

.header_searchinput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 15px;
    border-color: rgb(231, 96, 0);
    /* border-radius: 50px; */
    font-weight: 500;
    outline: none;
    
}
.header_searchicon{
    
    /* width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    cursor: pointer; */
     padding: 5px; 
     height: 22px !important; 
    background-color: rgb(231, 96, 0);
    
}
.header_optionlineone{
    /* margin-top: 5px; */
    font-size: 10px;
}
.header_optionlinetwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionbasket{
    display: flex;
    align-items: center;
    color: white;
}
.header_basketcount{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

@media(max-width:320px){
    .header{
        display: flex;
        width: 123%;
        margin-left: auto;
        margin-right: auto;
    }

}