.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}
.product_rating{
    display: flex;
}
.product > img{
    height: 200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
     background-color: #fd9104;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29; 

     display: inline-block;
    padding: .5em 1.25em;
     /* background: rgb(6, 125, 223);  */
      /* color: white;   */
      box-shadow: 0 12px 12px -6px rgba(black,.5);
      transition: transform ease-in-out 250ms;
      transform: scale(.89);
      border-radius: 20px;
      cursor: pointer;
    
}
.product_price{
    margin-top: 5px;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;

}